---
layout: default
title: Home
cover: false
about: 'about.html'
---

<header class="main-header {% if page.cover %}" style="background-image: url({{ page.cover }}) {%else%}no-cover{% endif %}">
  <nav class="main-nav overlay clearfix">
    {% if page.logo %}
      <a class="blog-logo" href="{{ site.baseurl }}">
        <img src="{{ page.logo }}" alt="Blog Logo" />
      </a>
    {% endif %}
    <a class="subscribe-button icon-feed" href="{{ site.baseurl }}feed.xml">Subscribe</a>
  </nav>
  <div class="vertical">
    <div class="main-header-content inner">
      <h1>
        <img src="/assets/images/profile.png" />
      </h1>
      <h1 class="page-title">{{ site.name }}</h1>
      <p class="account-custom">{{ site.account }}</p>
      <h2 class="page-description">
        {{ site.title }}
      </h2>
      <div class="account-images">
        <a href="{{ site.facebook }}" target="_blank">
          <i class="fa fa-facebook-square"></i>
        </a>
        <a href="{{ site.twitter }}" target="_blank">
          <i class="fa fa-twitter-square"></i>
        </a>
        <a href="{{ site.github }}" target="_blank">
          <i class="fa fa-github-square"></i>
        </a>
      </div>
    </div>
  </div>
  <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>
<main id="content" class="content" role="main">
  <div class="extra-pagination inner">
    {% include pagination.html %}
  </div>
  {% for post in paginator.posts %}
    <p class="post-item">
      -
      <a class="post-link" href="{{ post.url }}">{{post.title}}</a>
    </p>
  {% endfor %}
  {% include pagination.html %}
</main>
